name: tests


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

      matrix:
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - name: Setup python${{ matrix.python }}
        run: uv python install ${{ matrix.python }}
      - run: uv sync
      - name: pytest
        run: uv run pytest -vv README.md tests.md
        env:
          FORCE_COLOR: 1
